/* img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block
} */

body,
html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 15pt;
	line-height: 18pt;
}

*,
:after,
:before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0
}

.linha {
	max-width: 65rem;
	margin-left: auto;
	margin-right: auto
}

.linha::after,
.linha::before {
	content: ' ';
	display: table
}

.linha::after {
	clear: both
}

.linha .linha {
	margin-left: -.9375rem;
	margin-right: -.9375rem
}

.linha .linha.collapse {
	margin-left: 0;
	margin-right: 0
}

.linha.pq-uncollapse>.coluna,
.linha.pq-uncollapse>.colunas {
	padding-left: 30px;
	padding-right: 30px
}

@media screen and (min-width:40em) {

	.linha.md-collapse>.coluna,
	.linha.md-collapse>.colunas {
		padding-left: 0;
		padding-right: 0
	}

	.linha.md-uncollapse>.coluna,
	.linha.md-uncollapse>.colunas {
		padding-left: 30px;
		padding-right: 30px
	}
}

@media screen and (min-width:64em) {

	.linha.lg-collapse>.coluna,
	.linha.lg-collapse>.colunas {
		padding-left: 0;
		padding-right: 0
	}

	.linha.lg-uncollapse>.coluna,
	.linha.lg-uncollapse>.colunas {
		padding-left: 30px;
		padding-right: 30px
	}
}

.linha.expanded {
	max-width: none
}

.coluna,
.colunas {
	width: 100%;
	float: left;
	padding-left: .9375rem;
	padding-right: .9375rem
}

.coluna:last-child,
.colunas:last-child {
	float: right
}

.coluna.end,
.end.colunas {
	float: left
}

.coluna.linha,
.linha.colunas {
	float: none
}

.pq-1 {
	width: 8.33333%
}

.pq-2 {
	width: 16.66667%
}

.pq-3 {
	width: 25%
}

.pq-4 {
	width: 33.33333%
}

.pq-5 {
	width: 41.66667%
}

.pq-6 {
	width: 50%
}

.pq-7 {
	width: 58.33333%
}

.pq-8 {
	width: 66.66667%
}

.pq-9 {
	width: 75%
}

.pq-10 {
	width: 83.33333%
}

.pq-11 {
	width: 91.66667%
}

.pq-12 {
	width: 100%
}

@media screen and (min-width:40em) {
	.md-1 {
		width: 8.33333%
	}

	.md-2 {
		width: 16.66667%
	}

	.md-3 {
		width: 25%
	}

	.md-4 {
		width: 33.33333%
	}

	.md-5 {
		width: 41.66667%
	}

	.md-6 {
		width: 50%
	}

	.md-7 {
		width: 58.33333%
	}

	.md-8 {
		width: 66.66667%
	}

	.md-9 {
		width: 75%
	}

	.md-10 {
		width: 83.33333%
	}

	.md-11 {
		width: 91.66667%
	}

	.md-12 {
		width: 100%
	}
}

@media screen and (min-width:64em) {
	.lg-1 {
		width: 8.33333%
	}

	.lg-2 {
		width: 16%
	}

	.lg-3 {
		width: 25%
	}

	.lg-4 {
		width: 33.33333%
	}

	.lg-5 {
		width: 41.66667%
	}

	.lg-6 {
		width: 50%
	}

	.lg-7 {
		width: 58.33333%
	}

	.lg-8 {
		width: 66.66667%
	}

	.lg-9 {
		width: 75%
	}

	.lg-10 {
		width: 84%
	}

	.lg-11 {
		width: 91%
	}

	.lg-12 {
		width: 100%
	}
}

@media screen and (min-width:1700px) {
	.linha {
		max-width: 90rem
	}
}

/* @media screen and (min-width:1500px) {
	.linha {
		max-width: 85rem
	}
} */

/* acessibilidade */
.acessibilidade {
	background-color: #ccc;
}

.acessibilidade a {
	font-size: 11pt;
	line-height: 12pt;
	padding: 15px;
}

/* acessibilidade */

header {
	margin-top: 30px;
	margin-bottom: 15px;
}

a{
	text-decoration: none;
}

/* MENU */

.nav {
	margin-top: 20px;
}

.nav__list {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.nav__list a {
	display: block;
	color: #333;
	text-decoration: none;
	font-weight: 700;
	font-size: 15pt;
	line-height: 16pt;
	padding: 0 15px;
}

.nav__list li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.nav__list li:hover {
	background-color: gray;
}

.nav__list ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	padding: 0;
	list-style: none;
}

.nav__list ul li {
	float: none;
	width: 200px;
}

.nav__list ul a {
	line-height: 120%;
	padding: 10px 15px;
}

.nav__list ul ul {
	position: absolute;
	top: 0;
	left: 200px;
	background-color: #ccc;
}

.nav__list .submenu a {
	font-size: 11pt;
	line-height: 13pt;
}

.nav__list li:hover>ul {
	display: block;
}

/* FIM MENU */

.logo {
	height: 80px;
	width: 100%;
	object-fit: contain;
}
/* banner */
.banner{
	height: 70vh;
	background-color: #333;
}
/* FIM BANNER */

/* HOME */
.portal-transparencia{
	height: 150px;
	background-color: aqua;
	text-align: center;
}
.portal-transparencia h2{
	font-size: 15pt;;
}
.portal-transparencia .transparencia, .portal-transparencia .servidores{
	padding: 15px;
	text-align: center;
	width: 70%;
	border-radius: 10px;
}
.portal-transparencia .transparencia{
	color: #ffff;
	background-color: #332663;
	margin: 0 auto
}

.portal-transparencia .servidores{
	color: #332663;
	background-color: #26b0e6;
	margin: 0 auto
}
.cont_pai {
	display: table;
	width: 100%;
	
  }
  
  .cont_pai .cont_filha {
	display: table-cell;
	vertical-align: middle;
  }

  .menu-inferior{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
  }

  .menu-inferior p{
	text-align: center;
	font-size: 13pt;
	line-height: 15pt;
	padding: 10px 15px 10px 15px;
  }

  .menu-inferior img{
	height: 90px;
	object-fit: contain;
	width: 100%
  }
  .b_esquerdo{
	min-height: 45vw;
    width: 50%;
    background-size: cover;
	height: 100vh;
  }
  .b_direito{
	min-height: 45vw;
    width: 50%;
	background-color: #f3f3f3;
	padding: 40px 40px 40px 60px;
  }
  h3, h4{
	color: #3399ff;
	margin-bottom: 20px;
  }
 
  .valiprev{
	height: 100vh; display: flex;
  }

  .links-uteis{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
  }

  .links-uteis img{
	height: 80px;
	object-fit: contain;
	width: 100%
  }
/* FIM HOME */


.paginas-diretoria img {
	width: 100%;
	object-fit: contain;
	height: 300px
}

hr{
	margin-bottom: 40px;
	margin-top: 10px;
}

footer{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #332663;
	color: #fff;
	margin-top: 30px;
}

@media screen and (max-width: 980px) {
	
	.b_esquerdo{
		width: 100%;
		height: auto;
	  }
	  .b_direito{
		width: 100%;
		padding: 20px 20px 20px 20px;
	  }
	  .valiprev{
		height: auto; display: inherit;
	  }
}

@media screen and (max-width: 640px){
	.portal-transparencia{
		height: 250px;
	}
	.portal-transparencia .transparencia{
		margin-bottom: 15px;
	}
}
